/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.mapa-container {
    margin-bottom: 0;
    padding-bottom: 0;
}

section {
    margin: 0;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #1d1c1c;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 0;
}

/* Header */
.header {
    background: #5a77af;
    border-bottom: 5px solid #5a77af;
    padding: 0;
}

.logo {
    height: 6rem;
    object-fit: contain;
}

.nav {
    display: flex;
    gap: 3rem;
}

.nav a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.8s ease;
}

.nav a:hover {
    color: #ffffff;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Hero */

.hero {
    background: #FFD700;
    display: flex;
    flex-direction: row-reverse;
    padding: 1.5rem 0.5rem;
    gap: 1.5rem;
    align-items: center;
}

.hero .container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* Alinha verticalmente */
    align-items: center;
    /* Alinha horizontalmente */
    text-align: center;
    width: 100%;
    height: 100%;
    /* Pode ajustar aqui se quiser altura específica */
}

/* >>> AQUI você controla o TAMANHO DO CONTAINER onde a imagem fica */
.hero-image {
    flex: 1.5;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 700px;
    /* Largura máxima da área que a imagem pode ocupar */
    height: 500px;
    /* Altura da área que a imagem pode ocupar */
    border-radius: 16px;
    overflow: hidden;
}

/* >>> AQUI você controla o tamanho da IMAGEM dentro do container */
.hero-image img {
    position: absolute;
    width: 100%;
    /* Preenche 100% da largura do container */
    height: 100%;
    /* Preenche 100% da altura do container */
    object-fit: contain;
    /* Ajusta o corte da imagem; outras opções: contain ou fill */
    opacity: 0;
    transition: opacity 0.7s;
}

.hero-image img.active {
    opacity: 1;
    z-index: 1;
}

.hero-image .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: transparent;
    color: #fff;
    border: none;
    padding: 0.4rem 0.6rem;
    cursor: pointer;
    border-radius: 50%;
    z-index: 2;
    transition: background 0.3s;
}

.hero-image .arrow:hover {
    background: rgba(0, 0, 0, 0.6);
}

.hero-image .arrow.left {
    left: 10px;
}

.hero-image .arrow.right {
    right: 10px;
}

.logo-servicos img {
    height: 13rem;
    object-fit: contain;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: #222 2px 2px 4px;
}

.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero .btn-hero {
    margin-top: 0.5rem;
    background: #25D366;
    color: #fff;
    text-decoration: none;
    border-radius: 25px;
    width: fit-content;
    font-size: 1.1rem;
    padding: 0.75rem 1.2rem;
    transition: background 0.3s ease;
}

.btn-hero:hover {
    background: #1ebc5a;
}


/* Produtos */
.produtos {
    background: #5a77af;
    padding: 2rem 1rem;
}

.produtos h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #141414 1px 1px 2px;
}

.produtos h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-shadow: #141414 1px 1px 1px;
    color: #1d1c1c;
}

.produtos h3 a {
    text-decoration: none;
    color: rgb(4, 4, 177);
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.produto {
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    background: transparent;
}

.carrossel {
    position: relative;
    width: 100%;
    height: 285px;
    /* Altura do card inteiro */
    overflow: hidden;
}

.carrossel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: fill;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carrossel img.ativo {
    opacity: 1;
}

.produto p {
    padding: 0.6rem;
    text-align: center;
    font-weight: bold;
    color: #1d1c1c;
    font-size: 1.1rem;
}


/* Sobre */
.sobre {
    background: rgb(228, 228, 228);
    padding: 2rem 1rem;
}

.sobre h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #222 1px 1px 2px;
}

.sobre p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
    line-height: 1.4;
    text-align: justify;
}

.sobre h3 {
    text-align: center;
    margin-top: 1.5rem;
    font-size: 1.2rem;
    color: #333;
}

.avaliações {
    display: flex;
    gap: 0.5rem;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 1.1rem;
}

/* Endereço e contato */
.local {
    padding: 2rem 1rem;
    text-align: center;
    background: #5a77af;

}

.local h2 {
    margin-bottom: 0.8rem;
    text-shadow: #222 1px 1px 2px;
}

.local p {
    margin-bottom: 1.5rem;
    font-size: 1.1rem;
}

.mapa-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.mapa-container iframe {
    width: 100%;
    height: 400px;
    border: 0;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* Responsividade Mobile */
@media (max-width: 600px) {
    .mapa-container iframe {
        height: 250px;
    }
}
 /* redes */
.redes {
    background: #5a77af;
    padding: 2rem 1rem;
    text-align: center;
}

.redes p {
    max-width: 600px;
    margin: 0 auto 1.5rem auto;
    font-size: 1.1rem;
    line-height: 1.3;
    text-shadow: #222 1px 1px 1px;
}

.redes-icons {
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 1rem;
}

.redes-icons a {
    color: #fff;
    background: rgba(0, 0, 0, 0.514);
    padding: 0.7rem;
    border-radius: 50%;
    transition: background 0.3s, transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

.redes-icons a:hover {
    background: rgba(0,0,0,0.6);
    transform: scale(1.1);
}

.redes-icons i {
    font-size: 1.5rem;
}


/* Footer */
.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 2rem 0;

}

/* MENU - Corrige sobreposição no mobile */
@media (max-width: 768px) {
    .header .container {
        gap: 1rem;
    }

    .nav {
        align-items: center;
    }
}

@media (max-width: 900px) {

    .hero {
        flex-direction: column;
        gap: 1rem;
    }

    .hero .container {
        order: 1;
    }

    .hero-image {
        order: 2;
        width: 100%;
        min-height: 500px;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    }

    .hero-image img {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .logo-servicos img {
        height: 12rem;
    }

    .hero h1 {
        font-size: 2rem;
    }

    .hero p {
        font-size: 1.5rem;
    }

    .btn-hero {
        font-size: 1.2rem;
        padding: 0.7rem 1.1rem;
    }

    /* PRODUTOS - Corrige a proporção e altura no mobile */
    .carrossel {
        padding-top: 75%;
        /* Proporção 4:3 */
    }

    .produtos h2 {
        font-size: 1.8rem;
    }

    .produtos h3 {
        font-size: 1.3rem;
    }

    .produto p {
        font-size: 1.2rem;
    }

    .carrossel {
        height: 400px;
    }

    .carrossel img {
        object-fit: fill;
        /* Mantém imagem ajustada */
    }

    /* SOBRE NÓS - Corrige imagens estouradas no mobile */

    .sobre h2 {
        font-size: 1.8rem;
    }

    .sobre p {
        font-size: 1.2rem;
    }

    .sobre h3 {
        font-size: 1.3rem;
    }

    .avaliações img {
        max-width: 80vw;
        height: auto;
        object-fit: contain;
    }
}

@media (max-width: 480px) {

    .header .container {
        flex-direction: column;
        align-items: center;
    }

    .nav {
        flex-direction: column;
        gap: 0.5rem;
    }

    .hero-image {
        max-height: 80vw;
        min-height: 50vh;
    }

    .logo-servicos img {
        height: 10rem;
    }

    .hero h1 {
        font-size: 1.5rem;
    }

    .hero p {
        font-size: 1.1rem;
    }

    .btn-hero {
        font-size: 0.9rem;
        padding: 0.5rem 0.9rem;
    }

    /* produtos */
    .produtos h2 {
        font-size: 1.5rem;
    }

    .produtos h3 {
        font-size: 1.1rem;
    }

    .produto p {
        font-size: 1.1rem;
    }

    .carrossel {
        height: 350px;
    }

    /* sobre nos */
    .sobre h2 {
        font-size: 1.5rem;
    }

    .sobre p {
        font-size: 1.1rem;
        line-height: 1, .1;
    }

    .sobre h3 {
        font-size: 1.1rem;
    }

    .avaliações img {
        width: 100vw;
        max-width: 100%;
    }
}