/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background: #f9f9f9;
    color: #333;
}

.container {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    padding: 1rem 0;
}

/* Header */
.header {
    background: #5a77af;
    border-bottom: 5px solid #5a77af;
    padding: 0;
}

.logo {
    height: 6rem;
    object-fit: contain; 
}

.nav {
    display: flex;
    gap: 3rem;
}

.nav a {
    color: #000000;
    font-weight: 500;
    text-decoration: none;
    font-size: 1.1rem;
    transition: color 0.8s ease;
}
.nav a:hover {
    color: #ffffff;
}

.header .container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Hero */

.hero {
    background: #FFD700;
    text-align: center;
    padding: 2rem 0.5rem;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
}

.hero .container {
    flex: 1;
}

.hero-image {
    flex: 1.5; /* imagem ocupa mais espaço */
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-image img {
    width: 90%;
    height:auto;
    object-fit: cover;
    border-radius: 15px;
    border: solid 1px #5a77af;
}

.hero h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-shadow: #222 2px 2px 4px;
}
.hero p {
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

.hero .btn {
    display: inline-block;
    margin-top: 1rem;
    background: #333;
    color: #fff;
    padding: 0.75rem 1.5rem;
    text-decoration: none;
    border-radius: 4px;
}

/* Produtos */
.produtos h2{
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #222 1px 1px 4px;
}

.produtos h3 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 1.1rem;
    text-shadow: #222 1px 1px 2px;

}
.produtos h3 a {
    text-decoration: none;
    color: rgb(57, 57, 236);
}

.grid {
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}

.produto {
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background: rgb(228, 228, 228);
}

.carrossel {
    position: relative;
    width: 100%;
    height: 285px; /* Altura do card inteiro */
    overflow: hidden;
}

.carrossel img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: contain;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
}

.carrossel img.ativo {
    opacity: 1;
}

.produto p {
    padding: 0.5rem;
    text-align: center;
    font-weight: bold;
    color: black;
}


/* Sobre */
.sobre {
    background: rgb(228, 228, 228);;
    padding: 2rem 1rem;
}

.sobre h2 {
    text-align: center;
    margin-bottom: 1rem;
    text-shadow: #222 1px 1px 4px;

}

/* Contato */
.contato {
    padding: 2rem 1rem;
    background: #fff;
}

.botoes-contato {
    display: flex;
    gap: 1rem;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.btn {
    padding: 0.75rem 1.2rem;
    text-decoration: none;
    color: #fff;
    border-radius: 4px;
}

.whatsapp {
    background: #25D366;
}

.instagram {
    background: #E1306C;
}

.facebook {
    background: #3B5998;
}

/* Footer */
.footer {
    background: #222;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
    margin-top: 2rem;
}